---
images:
  - photos/pexel_01.jpg
  - photos/pexel_02.jpg
---
<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">
{% for image in page.images %}
  <li>
    <a href="{{ image | relative_url }}"><img src="{{site.baseurl}}/photos/{{ image }}" alt="{{site.author}}"></a>
  </li>
{% endfor %}
</ul>
